header {
    display: block;
    margin-left: 12%;
    margin-right: 12%;
}

footer {
    display: block;
    margin-left: 12%;
    margin-right: 12%;
    float: left;
    text-align: center;
}

footer p {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

footer a {
    color: #1E2F01;
    text-decoration: none;
}

header h1 {
    width: 50%;
    float: left;
    font-size: 2em;
    font-weight: lighter;
    font-family: sans-serif;
}

#moblie {
    float: left;
    width: 40%;
}

#mobile img {
    display: block;
    float: right;
    margin-right: 8%;
}

#mobile p {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

header ul {
    float: left;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2.5em;
    list-style-type: none;
    background-color: rgb(250, 245, 245);
}

header ul li {
    float: right;
}

header ul li a {
    font-family: sans-serif;
    border-radius: 3px;
    padding-right: 3px;
    font-weight: bold;
    padding-left: 3px;
    background-color: rgb(66, 180, 66);
    color: white;
    text-decoration: none;
    font-size: 0.78em;
    display: block;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 2px;
    text-align: center;
}

main {
    float: left;
    display: block;
    margin-left: 12%;
    margin-right: 12%;
}

main #top {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#left {
    margin-top: 3%;
    display: block;
    width: 35%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left h3 {
    color: white;
    position: absolute;
    height: 4%;
    padding: 0 2% 0 3%;
    width: 5%;
    top: 48%;
    font-size: 1.5em;
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(rgba(60, 49, 212, 0.932), #01086b);
}

#text {
    float: left;
    display: block;
    margin-left: 4%;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 60%;
}

#submit {
    width: 20%;
    float: left;
    display: block;
    margin-left: 2%;
    margin-top: 7%;
    margin-bottom: 2%;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

#left ul {
    margin-left: 3%;
}

#left ul li a {
    text-decoration: none;
    font-weight: bold;
}

#left ul li {
    float: right;
    font-size: 0.9em;
}

#left img {
    float: right;
    display: block;
    margin-right: 2%;
    margin-bottom: 2%;
}

#more {
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.2em;
    text-decoration: none;
    color: #337ab7;
}

#right {
    margin-top: 3%;
    display: block;
    width: 60%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
}

#right h3 {
    color: white;
    position: absolute;
    height: 4%;
    padding: 2px 2% 0 2%;
    top: 48%;
    font-family: sans-serif;
    font-size: 1.5em;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(rgba(235, 182, 84, 0.932), #da790a);
}

#right .sec {
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;
}

#right a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}